<nav class="mb-3 d-flex flex-wrap gap-3">
    <a class="link-primary" href="/">Home</a>
    <a class="link-primary" href="/search">Search</a>
    <a class="link-primary" href="/signUp">Sign Up</a>
    <a class="link-primary" href="/addFriends">Add Friends</a>
    <a class="link-primary" href="/addGame">Add Game</a>
    <a class="link-primary" href="/friendsWishlist">Friends Wishlist</a>
</nav>
