<nav class="navbar navbar-expand-lg bg-white soft-card px-3 px-lg-4 mb-4">
    <a class="navbar-brand fw-bold text-primary" href="/">MIST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/addFriends">Add Friends</a></li>
            <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>
            <li class="nav-item"><a class="nav-link" href="/addGame">Add Game</a></li>
            <li class="nav-item"><a class="nav-link" href="/wishlist">Wishlist</a></li>
            <li class="nav-item"><a class="nav-link" href="/aISearch">AI Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
