<nav class="menu-box mb-3 d-flex flex-wrap gap-3">
    <a class="link-primary" href="/">Home</a>
    <a class="link-primary" href="/search">Search</a>
    <a class="link-primary" href="/signUp">Sign Up</a>
    <a class="link-primary" href="/addFriends">Add Friends</a>
    <a class="link-primary" href="/addGame">Add Game</a>
    <a class="link-primary" href="/aISearch">AI Search</a>
    <a class="link-primary" href="/login">Login</a>
    <a class="link-primary" href="/profile">Profile</a>
    <a class="link-primary" href="/wishlist">Wishlist</a>
    <a class="link-primary" href="/friends">Friends</a>
    <a class="link-primary" href="/logout">Logout</a>
</nav>
