<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
    <title>Mist Homepage</title>
</head>

<body>
    Friends List!
    <div id="friends">
    <% for (let i of rows) {  %>
        User: <%= i.friendshipID %>, Friend Ship Status: <%= i.status %><br>
    <% } %>
    </div>
</body>

</html>