<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Game Search</title>
</head>
<body>
    <% for (let i = 0; i < game.length; i++) { %>
        <a href="/gameInfo?game=<%=game[i].id%>">
            <h1><%=game[i].name%></h1>
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/<%=gameMap.get(game[i].cover)%>.jpg" width="300">
        </a>
    <% } %>
</body>
</html>