<%- include('partials/head', { title: 'Login' }) %>
<h1 class="h3">Login</h1>
<p class="text-muted">This is the Login page.</p>

<h1>Login</h1>

<% if (typeof error !== "undefined") { %>

    <p><%= error %></p>

<% } %>

<form action="/login" method="POST">

    <label>Username:</label>

    <input type="text" name="username" required>

    <br><br>

    <label>Password:</label>

    <input type="password" name="password" required>

    <br><br>

    <button type="submit">Login</button>

</form>

<br>

<a href="/signUp">Create an account</a>
<%- include('partials/footer') %>